<footer>
    <div class="rodape">
         <h2>Íncio</h2>
         <ul>
             <li><a href="#">Home</a></li>
             <li><a href="#">Cursos</a></li>
             <li><a href="#">Aulas</a></li>
         </ul>
    </div>
    <div class="rodape">
         <h2>Informações</h2>
         <ul>
             <li><a href="#">Blog</a></li>
             <li><a href="#">Contato</a></li>
             <li><a href="#">E-Mail</a></li>
         </ul>
    </div>
    <div class="rodape">
         <h2>Suporte</h2>
         <ul>
             <li><a href="#">FAQ</a></li>
             <li><a href="#">Chat</a></li>
             <li><a href="#">SAC</a></li>
         </ul>
    </div>
    <div class="rodape">
         <h2 >Quem somos</h2>
    </div>
 </footer>
