<header>

   
    <div class="circulo">
        <img src="#" alt="">
    </div>

    <div class="container">
        <!--<button>Portal do Aluno</button>-->
        <nav id="menu">
            <ul>
                <li><a href="#">Graduação</a></li>
                <li><a href="#">Pós-Graduação</a></li>
                <li><a href="#">Especialização</a></li>
                <li><a href="#">Mestrado e Doutorado</a></li>
                <li><a href="#">Técnico</a></li>
            </ul>
        </nav>
    </div>


</header>