.container{
    display: grid;
    grid-template-columns: 310px auto;
}

.circle-box{
    display: flex;
    justify-content: center;
    padding: 20px;
    width: 100%;
}

.circulo{
    background-color: rgb(255, 255, 255);
    border: solid black;
    height: 170px;
    width: 170px;
    border-radius: 50%;
    box-shadow: 10px -10px 0px #0085FF;
}

.menu-group{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

.mini-menu{
    display: flex;
    justify-content: flex-end; 
}

.mini-menu-input{
    display: flex;
    gap: 40px ;
}

.menu{
    display: flex;
    justify-content: space-around;
}

.menu-box{
    padding: 20px;
    background-color: #FF82C5;
    border-radius: 20px;
}
.menu-box a {
    font-size: 20px;
}