<header>

   
    <div class="circulo">
        <img src="#" alt="">
    </div>

    <div class="container">
        <!--<button>Portal do Aluno</button>-->
        <nav id="menu">
            <ul>
                <li><a routerLink="/graduacao">Graduação</a></li>
                <li><a routerLink="/aviso">Pós-Graduação</a></li>
                <li><a routerLink="/aviso">Especialização</a></li>
                <li><a routerLink="/aviso">Mestrado e Doutorado</a></li>
                <li><a routerLink="/aviso">Técnico</a></li>
            </ul>
        </nav>
    </div>


</header>