header{
    display: grid;
    grid-template-columns: 170px auto ;
    margin-top: 20px;
}

/*****************************************/

.circulo{
    background-color: rgb(255, 255, 255);
    border: solid black;
    width: 170px;
    height: 170px;
    border-radius: 50%;
    box-shadow: 10px -10px 0px #0085FF;
}

/**************************************

button{
    border: 0;
    background-color: #005eb6;
    font-size: 20px;
    cursor: pointer;
}
button:hover{
        background-color: #0085FF;
}

/******************************************/
#menu {
    display: flex;
    justify-content: center;
    align-items: center;
}
#menu ul{
    display: flex; 
    border-radius: 20%;
    height: max-content;
}
#menu li {
    padding: 10px;
    background: #005eb6;
    font-size: 25px;
    
}#menu li:hover {
    background-color: #0085FF;
}
