<main>
    <div class="album py-5 bg-body-tertiary">
      <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          <div class="col">
            <div class="card shadow-sm"><!--width="100%" height="225"-->
              <img src="/assets/ciencia.png" alt="" width="100%" height="225" class="bd-placeholder-img card-img-top">
              <div class="card-body">
                <p class="card-text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Ciencia da Computação</font></font></p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button routerLink="/ciencia-da-computacao" type="button" class="btn btn-sm btn-outline-secondary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Visualizar</font></font></button>
                  </div>
                  <small class="text-body-secondary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"></font></font></small>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <img src="https://www.undb.edu.br/hubfs/sistema%20de%20informa%C3%A7%C3%A3o.jpg" alt="" width="100%" height="225" class="bd-placeholder-img card-img-top">
              <div class="card-body">
                <p class="card-text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Sistema de Inforamção</font><font style="vertical-align: inherit;"></font></font></p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button routerLink="/pag-de-aviso" type="button" class="btn btn-sm btn-outline-secondary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Visualizar</font></font></button>
                    
                  </div>
                  <small class="text-body-secondary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"></font></font></small>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <img src="https://www.ft.unicamp.br/sites/default/files/tads.jpg" alt="" width="100%" height="225" class="bd-placeholder-img card-img-top">
              <div class="card-body">
                <p class="card-text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Análise e Desenvolvimento de Sistemas</font><font style="vertical-align: inherit;"></font></font></p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button routerLink="/ads" type="button" class="btn btn-sm btn-outline-secondary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Visualizar</font></font></button>
                   
                  </div>
                  <small class="text-body-secondary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"></font></font></small>
                </div>
              </div>
            </div>
          </div>
  
          <div class="col">
            <div class="card shadow-sm">
              <img src="https://live.unisc.br/wp-content/uploads/2020/09/eng_computacao.jpg" alt="" width="100%" height="225" class="bd-placeholder-img card-img-top">
              <div class="card-body">
                <p class="card-text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Engenharia da Computação</font><font style="vertical-align: inherit;"></font></font></p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary"style="vertical-align: inherit;" style="vertical-align: inherit;" routerLink="/ciencia-da-computacao">Visualizar></button>
                   
                  </div>
                  <small class="text-body-secondary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"></font></font></small>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <img src="https://www.undb.edu.br/hubfs/eng-software-curso-undb.jpg" alt="" width="100%" height="225" class="bd-placeholder-img card-img-top">
              <div class="card-body">
                <p class="card-text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Engenharia de Software</font><font style="vertical-align: inherit;"></font></font></p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Visualizar</font></font></button>
                   
                  </div>
                  <small class="text-body-secondary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"></font></font></small>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <img src="https://cursossenac2022.com/wp-content/uploads/2021/10/aa-768x384.jpg" alt="" width="100%" height="225" class="bd-placeholder-img card-img-top">
              <div class="card-body">
                <p class="card-text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Jogos Digitais</font><font style="vertical-align: inherit;"></font></font></p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Visualizar</font></font></button>
                   
                  </div>
                  <small class="text-body-secondary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"></font></font></small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
  </main>