<!--<form #form="ngForm">

    <input type="text" name="nome" placeholder="NOME" ngModel>

</form>

{{ form.value | json }}-->

<div class="container">
    <div class="form">
        <form [formGroup]="cadastroForm" (ngSubmit)="signUp()">

            <div class="title">
                <h1>Cadastre-se</h1>
            </div>          

            <div class="input-group">
                <div class="bloco-input">
                    <div class="input-box">
                        <label for="firstname">Primeiro nome</label>
                        <input id="firstname" type="text" formControlName="nome" placeholder="Digite seu primeiro nome" required ngModel>
                    </div>

                    <div class="input-box">
                        <label for="number">Celular</label>
                        <input id="number" type="tel" formControlName="numero" placeholder="(xx) xxxxx-xxxx" required>
                    </div>
    
                    <div class="input-box">
                        <label for="password">Senha</label>
                        <input id="password" type="password" formControlName="senha" placeholder="Digite sua senha" required>
                    </div>
                </div>
                
                <div class="bloco-input">
                    <div class="input-box">
                        <label for="lastname">Sobrenome</label>
                        <input id="lastname" type="text" formControlName="sobrenome" placeholder="Digite seu sobrenome" required>
                    </div>

                    <div class="input-box">
                        <label for="email">E-mail</label>
                        <input id="email" type="email" formControlName="email" placeholder="Digite seu email" required>
                    </div>
                    
                    <div class="input-box">
                        <label for="Confirmpassword">Confirme sua senha</label>
                        <input id="Confirmpassword" type="confirmacaoDeSenha" formControlName="confirmasenha" placeholder="Confirme sua senha" required>
                    </div>
                </div>
            </div>

            <div class="gender-inputs">
                <div class="gender-tittle">
                    <h6>Gênero</h6>
                </div>

                <div class="gender-group">
                    <div class="gender-input">
                        <input type="radio" id="female" value="feminino" formControlName="sexo">
                        <label for="female">Feminino</label>
                    </div>

                    <div class="gender-input">
                        <input type="radio" id="male" value="masculino" formControlName="sexo">
                        <label for="male">Masculino</label>
                    </div>

                    <div class="gender-input">
                        <input type="radio" id="none" value="naoIdentificado" formControlName="sexo">
                        <label for="none">Prefiro não dizer</label>
                    </div>
                </div>
            </div>

            <div class="continue-button">
                <button>Continuar</button>
            </div>

            <br>

            <div class="voltar">
                <!--<button><a href="/login">Voltar</a></button>-->
                <button routerLink="/login"><p>Voltar</p></button>
            </div>

        </form>

        

    </div>
</div>