<main class="container">
    <div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary">
    <div class="col-lg-6 px-0">
    <h1>Análise e Desenvolvimento de Sistemas</h1>
    <p class="lead my-3"></p>
    </div>
    </div>
    
    <div class="row mb-2">
    <div class="col-md-6">
    
    </div>
    <div class="col-md-6">
    
    </div>
    </div>
    
    <div class="row g-5">
    <div class="col-md-8">
    
    <article class="blog-post">
    <h2 class="display-5 link-body-emphasis mb-1">SOBRE:</h2>
    <p class="blog-post-meta"><a href="#"></a></p>
    
    <p>Descubra o empolgante mundo da Análise e Desenvolvimento de Sistemas com nossos cursos especializados. Oferecemos uma abordagem prática e teórica que capacita os alunos a analisar, projetar, implementar e atualizar sistemas de informação de maneira eficiente.</p>
    <hr>
    <p>Ao longo do curso, você mergulhará em disciplinas que abrangem desde as bases teóricas até as aplicações práticas da análise de sistemas. Aprenda a desenvolver soluções inovadoras para desafios complexos, esteja pronto para atuar em projetos reais desde o início.</p>
    <h2>O QUE VOCÊ VAI APRENDER:</h2>
    <blockquote class="blockquote">
    </blockquote>
    <p>Em um curso de Análise e Desenvolvimento de Sistemas, você adquirirá conhecimentos abrangentes para se destacar no campo da tecnologia. Entre os tópicos principais estão:
      <br>
      1 - Raciocínio Lógico e Matemática Aplicada à Informática: Fundamentos essenciais para a resolução de problemas e desenvolvimento de algoritmos.
      <br>
      2 - Direito e Legislação: Compreensão das regulamentações legais relacionadas à área de tecnologia da informação.
      <br>
      3 - Estrutura de Dados: Conhecimento fundamental para a organização eficiente de informações em sistemas computacionais.
      <br>
      4 - Fundamentos de Redes de Computadores: Entendimento dos princípios básicos que sustentam a comunicação entre sistemas em rede.
      <br>
      5 - Banco de Dados e Software para Web: Aprender a projetar e implementar sistemas de armazenamento de dados e desenvolver aplicativos web eficientes.
      <br>
      6 - Lógica de Programação: Desenvolver habilidades essenciais para criar algoritmos e solucionar problemas de programação.
      <br>
      7 - Redes de Computadores e Segurança: Adquirir conhecimentos sobre o funcionamento de redes e práticas de segurança cibernética.
      </p>
    <h2>QUAL É A DURAÇÃO DO CURSO DE</h2>
    <p>A duração dessa graduação é de 2 anos, com um total de 2.000 horas. Durante esse período, você estudará diversas matérias teóricas que fazem toda diferença para a sua formação. 
    </p>
    </article>
    </div>
    
    <div class="col-md-4">
    <div class="position-sticky" style="top: 2rem;">
    <div class="p-4 mb-3 bg-body-tertiary rounded">
      <h4 class="fst-italic"></h4> 
      <p class="mb-0">O curso de Análise e Desenvolvimento de Sistemas desvenda o código que impulsiona o futuro, convertendo lógica em soluções inovadoras. A jornada abrange algoritmos, estruturas de dados e busca a excelência tecnológica. Cada linha de código é uma ponte para a inovação, transformando desafios em oportunidades de criar sistemas que moldam o amanhã. O curso explora bancos de dados, programação web, lógica de programação, redes de computadores e segurança, desenvolvendo habilidades essenciais para o dinâmico cenário da tecnologia.</p>
    </div>
    
    <div>
      <h4 class="fst-italic">Preços do curso</h4>
      <ul class="list-unstyled">
        <li>
            <div class="col">
              <div class="card mb-4 rounded-3 shadow-sm border-primary">
                <div class="card-header py-3 text-bg-primary border-primary">
                  <h4 class="my-0 fw-normal">Curso completo</h4>
                </div>
                <div class="card-body">
                  <h1 class="card-title pricing-card-title">$200<small class="text-body-secondary fw-light">/mês</small></h1>
                  <ul class="list-unstyled mt-3 mb-4">
                    <li>Suporte das 8h às 22h</li>
                    <li>Laboratorio livre</li>
                    <li>Projetos de extensao</li>
                    <li>Pau no seu cu</li>
                  </ul>
                  <button type="button" class="w-100 btn btn-lg btn-primary">Contate-nos</button>
                </div>
              </div>
            </div>
        </li>
      </ul>
    </div>
    
    <div class="p-4">
      <h4 class="fst-italic">Acesse em:</h4>
      <ol class="list-unstyled">
        <li><a href="#">GitHub</a></li>
      </ol>
    </div>
    </div>
    </div>
    </div>
    
    </main>
