<main class="container">
  <div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary">
  <div class="col-lg-6 px-0">
  <h1>Ciência Da Computação</h1>
  <p class="lead my-3"></p>
  </div>
  </div>
  
  <div class="row mb-2">
  <div class="col-md-6">
  
  </div>
  <div class="col-md-6">
  
  </div>
  </div>
  
  <div class="row g-5">
  <div class="col-md-8">
  
  <article class="blog-post">
  <h2 class="display-5 link-body-emphasis mb-1">SOBRE:</h2>
  <p class="blog-post-meta"><a href="#"></a></p>
  
  <p>Descubra o fascinante universo da Ciência da Computação em nossos cursos de ponta. De programação a algoritmos avançados, oferecemos uma jornada educacional abrangente.</p>
  <hr>
  <p>Explore a fundo as bases da Computação! Desde "Como os Computadores Funcionam" até "Matemática para Ciência da Computação", nosso currículo é projetado para fornecer uma compreensão sólida e abrangente.

    Esteja à frente da revolução tecnológica! Com cursos dinâmicos como "Machine Learning" e "Design de Software Centrado no Usuário", você desenvolverá habilidades essenciais para moldar o futuro digital.</p>

    <h2>O QUE VOCÊ VAI APRENDER:</h2>
  <blockquote class="blockquote">
  </blockquote>
  <p>Ao cursar Ciência da Computação, você pode esperar adquirir conhecimentos abrangentes em áreas fundamentais e especializadas, tais como:
    <br>
    1 - Algoritmos e Estruturas de Dados: Desenvolver habilidades para criar algoritmos eficientes e estruturas de dados essenciais para a resolução de problemas computacionais;
    <br>
    2 - Programação: Aprender a programar em diversas linguagens, transformando conceitos em software funcional;
    <br>
    3 - Redes de Computadores: Compreender a comunicação entre computadores em rede e os princípios de design de sistemas distribuídos;
    <br>
    4 - Inteligência Artificial e Machine Learning: Explorar técnicas avançadas para criar sistemas autônomos capazes de aprender e tomar decisões;
    <br>
    5 - Desenvolvimento Web e Mobile: Construir aplicações para a web e dispositivos móveis, abrangendo desde o design de interfaces até a implementação de funcionalidades avançadas;
    <br>
    6 - Sistemas Operacionais: Entender o funcionamento interno de sistemas operacionais e como eles gerenciam recursos.</p>
  <h2>QUAL É A DURAÇÃO DO CURSO DE CIÊNCIA DA COMPUTAÇÃO?</h2>
  <p>A média de duração para o curso de Ciência da Computação é de aproximadamente 8 semestres, equivalente a cerca de 4 anos de estudo para obtenção do diploma. Durante esse período, os alunos são expostos a disciplinas práticas e teóricas, além de participar de experiências de estágio.
    <br>
    <br>
    Existem duas formas de estágio: os curriculares, obrigatórios para a obtenção do diploma, e os extracurriculares, que podem ser realizados em qualquer momento do curso. Os estágios, além de contribuírem para o desenvolvimento profissional, contam créditos acadêmicos.
    <br>
    <br>
    Durante a faculdade, há também a oportunidade de realizar cursos externos, aprimorando habilidades complementares. Participar de congressos e eventos na área é incentivado, oferecendo uma chance adicional de aprendizado e crescimento profissional.</p>
  <h2>Invista no seu futuro</h2>
  <p>A ciência da computação é uma área promissora, com oportunidades de crescimento e desenvolvimento profissional. Com um curso de ciência da computação, você terá as habilidades necessárias para construir uma carreira de sucesso.</p>
  
  </article>
  </div>
  
  <div class="col-md-4">
  <div class="position-sticky" style="top: 2rem;">
  <div class="p-4 mb-3 bg-body-tertiary rounded">
    <h4 class="fst-italic"></h4> 
    <p class="mb-0">Na Ciência da Computação, exploramos os limites do possível, transformando códigos em inovação, algoritmos em soluções e desafios em conquistas. Cada linha de código conta uma história de progresso, e cada problema é uma oportunidade de criar algo extraordinário. Neste mundo tecnológico, a Ciência da Computação é a linguagem universal que traduz ideias em realidade digital, impulsionando a evolução e a revolução do amanhã.</p>
  </div>
  
  <div>
    <h4 class="fst-italic">Preços do curso</h4>
    <ul class="list-unstyled">
      <li>
          <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm border-primary">
              <div class="card-header py-3 text-bg-primary border-primary">
                <h4 class="my-0 fw-normal">Curso completo</h4>
              </div>
              <div class="card-body">
                <h1 class="card-title pricing-card-title">$200<small class="text-body-secondary fw-light">/mês</small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                  <li>Suporte das 8h às 22h</li>
                  <li>Laboratorio livre</li>
                  <li>Projetos de extensao</li>
                  <li>Pau no seu cu</li>
                </ul>
                <button type="button" class="w-100 btn btn-lg btn-primary">Contate-nos</button>
              </div>
            </div>
          </div>
      </li>
    </ul>
  </div>
  
  <div class="p-4">
    <h4 class="fst-italic">Acesse em:</h4>
    <ol class="list-unstyled">
      <li><a href="#">GitHub</a></li>
    </ol>
  </div>
  </div>
  </div>
  </div>
  
  </main>
