<form>
    <input type="text" placeholder="nome" class="form-control" name="nome" [(ngModel)]="aluno.nome">
    <input type="text" placeholder="sobrenome" class="form-control" name="sobrenome" [(ngModel)]="aluno.sobrenome">
    <input type="tel" placeholder="numero"  class="form-control" name="numero" [(ngModel)]="aluno.numero">
    <input type="text"     placeholder="sexo"      class="form-control" name="sexo" [(ngModel)]="aluno.sexo">
    <input type="text"     placeholder="email"     class="form-control" name="email" [(ngModel)]="aluno.email">
    <input type="password" placeholder="Senha"     class="form-control" name="senha" [(ngModel)]="aluno.senha">
    
    <input type="button" value="Cadastrar" class="btn btn-primary"   *ngIf="btnCadastro" (click)="cadastrar()">
    <input type="button" value="Alterar"   class="btn btn-warning"   *ngIf="!btnCadastro" (click)="editar()">
    <input type="button" value="Remover"   class="btn btn-danger"    *ngIf="!btnCadastro" (click)="remover()">
    <input type="button" value="Cancelar"  class="btn btn-secondary" *ngIf="!btnCadastro" (click)="cancelar()">
</form>

<table class="table" *ngIf="tabela">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Sobrenome</th>
            <th>numero</th>
            <th>sexo</th>
            <th>email</th>
            <th>senha</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor=" let c of alunos; index as i">
            <td>{{c.id}}</td>
            <td>{{c.nome}}</td>
            <td>{{c.sobrenome}}</td>
            <td>{{c.numero}}</td>
            <td>{{c.sexo}}</td>
            <td>{{c.email}}</td>
            <td>{{c.senha}}</td>
            <td><button class="btn btn-success" (click)="selecionarAluno(i)">Selecionar</button></td>
        </tr>
    </tbody>


</table>
