@import url('https://fonts.googleapis.com/css2?family=Mate+SC&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: mate;
    font-family: 'Mate SC', serif;
    
}

body {
    background-image: linear-gradient(#d3f4fc, #003edb);
    background-repeat: no-repeat;
}

li{
    list-style: none;
}
a {  
    text-decoration: none;
    color: black;
    cursor: pointer;
}